/* .unsplasheeqbbemh9-c-icon {
  position: absolute;
  top: 184px;
  left: calc(50% - 616px);
  border-radius: var(--br-xl);
  width: 638px;
  height: 624px;
  object-fit: cover;
}
.nandhan {
  position: absolute;
  top: 1868px;
  left: 1622px;
  font-weight: 600;
}
.tajmahal-31-frame80-31-frame92 {
  position: absolute;
  top: calc(50% - 10px);
  left: 16px;
  font-weight: 500;
}
.frame144-31-home {
  width: 534px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-royalblue-200);
  box-sizing: border-box;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.tajmahal-31-frame80-31-frame922 {
  position: absolute;
  top: calc(50% - 142.5px);
  left: 16px;
  font-weight: 500;
}
.frame144-31-home2 {
  width: 534px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-royalblue-200);
  box-sizing: border-box;
  height: 317px;
  overflow: hidden;
  flex-shrink: 0;
}
.contact-us-parent,
.frame144-31-home-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame144-31-home-parent {
  align-items: flex-start;
  gap: 16px;
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-family: var(--font-lato);
}
.contact-us-parent {
  position: absolute;
  top: 184px;
  left: 682px;
  align-items: center;
  gap: var(--gap-5xl);
  font-size: var(--font-size-xl);
}
.tajmahal-31-frame80-31-frame923 {
  position: absolute;
  top: calc(50% - 14.5px);
  left: calc(50% - 31px);
  font-weight: 600;
}
.frame148-31-home,
.together-lets-shape {
  position: absolute;
  color: var(--color-white);
}
.frame148-31-home {
  top: 725px;
  left: 682px;
  border-radius: var(--br-3xs);
  background-color: var(--color-royalblue-100);
  width: 534px;
  height: 65px;
  overflow: hidden;
}
.together-lets-shape {
  top: 631px;
  left: calc(50% - 592px);
  font-size: 32px;
  font-weight: 800;
  display: inline-block;
  width: 583px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.macbook-air-6-child {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 226px);
  border-radius: var(--br-xl);
  width: 522px;
  height: 40px;
  overflow: hidden;
}
.access-context-manager-svgrepo-icon,
.vector-icon {
  position: absolute;
  height: 100%;
  width: 23.6%;
  top: 0;
  right: 68.94%;
  bottom: 0;
  left: 7.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon {
  height: 84.17%;
  width: 14.59%;
  top: 7.89%;
  right: 85.41%;
  bottom: 7.94%;
  left: 0;
}
.nutryfood {
  position: absolute;
  height: 42.17%;
  width: 69.87%;
  top: 13.16%;
  left: 30.13%;
  display: inline-block;
}
.crowned-with-innovations {
  position: absolute;
  top: 55.26%;
  left: 38.82%;
  font-size: 7.89px;
  font-family: var(--font-kadwa);
}
.access-context-manager-svgrepo-parent {
  position: absolute;
  height: 60%;
  width: 19.86%;
  top: 20%;
  right: 75.15%;
  bottom: 20%;
  left: 4.99%;
}
.component-58-icon {
  width: 48px;
  position: relative;
  height: 48px;
}
.domestic-international {
  width: 200px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  height: 23px;
  flex-shrink: 0;
}
.component-58-parent {
  position: absolute;
  top: 32px;
  left: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.macbook-air-6 {
  width: 1280px;
  position: relative;
  background-color: var(--color-white);
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
}
.home {
  position: relative;
  font-weight: 600;
}
.frame-child {
  width: 63px;
  position: relative;
  height: 0;
  opacity: 0;
}
.home-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frame-item {
  width: 6px;
  position: relative;
  height: 0;
  opacity: 0;
}
.frame-inner {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 219px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.mdiwhatsapp-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-2-1-parent {
  position: absolute;
  top: calc(50% - 12px);
  right: 64px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.macbook-air-5 {
  width: 1280px;
  position: relative;
  background-color: var(--color-royalblue-100);
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.macbook-air-6-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 640px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 43.42px;
  color: var(--color-royalblue-100);
  font-family: var(--font-katibeh);
}
.contact-us {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 832px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
} */
.contact-page{
  overflow-x: hidden;
  display: flex;
  margin-left: 4rem;
  margin-top: 13rem;
  gap: 0.1rem;
}
.image-des{
  color: #FFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
background-image: './contactus-page-image.png';
display: none;
width: 50%;
}
.contactus-form{
  display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
margin-right: 4rem;
}
.contact-us-title{
  color: #000;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.contact-form{
  display: flex;
width:300px;
padding: 20px 480px 21px 16px;
align-items: center;
flex-direction: column;
gap: 1rem;
}
.input-1{
  display: flex;
  width: 50%;
  margin-left: 430px;
height: 20px;
padding: 20px 399px 20px 16px;
align-items: center;
border-radius: 10px;
border: 2px solid rgba(0, 74, 173, 0.40);
background: #FFF;
}
.form-btn{
  border-radius: 10px;
background: #004AAD;
  display: flex;
width: 125%;
padding: 18px 0px;
justify-content: center;
align-items: center;
color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 430px;
}